.main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.test {
}

.results {
}

.survey_td {
  min-width: 20rem;
}
.survey {
  background-color: rgb(235, 243, 250);
  border-radius: 1em;
}

.button {
  color: rgb(255, 255, 255);
  background-color: rgb(26, 179, 148);
  padding: .5em 2em .5em;
  font-weight: bold;
  font-size: .875em;
  cursor: pointer;
  border-radius: 1.214em;
  border: none;
}

.table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: rgb(235, 243, 250);
  border-radius: 1em;
}

.tbutton {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 179, 148);
  padding: .3em .3em .3em;
  cursor: pointer;
  border-radius: 1.214em;
  border: none;
}
